<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Kitten</title>
</head>

<body>
  <div class="container">
    <nav>
      <ul>
        <li>Kittens</li>
        <li><a href="/">Home</a></li>
        <li><a class="active" >Add</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <form action="/add" method="post">
      <label for="name"> Name :</label>
      <input type="text" name="name" id="name" placeholder="Nyan">

      <label for="age"> Age :</label>
      <input type="number" name="age" id="age" placeholder="4">

      <label for="description"> Description :</label>
      <textarea name="description" id="description" cols="20" rows="5" placeholder="Un chaton célèbre !"></textarea>

      <label for="image"> Image :</label>
        <input type="text" name="Image" id="image">

      <input type="submit" value="ADD >">
    </form>
  </div>
  <% if (error) {%>
    <div class="error">
      <%= error %>
    </div>
  <% };%>

</body>

</html>
